<section class="container UserSection">
  <h2>設定</h2>

  <div class="UserContainer">
    <ul class="SideNavigation">
      <li class="SideNavigation__item active">
        <%= link_to "アカウント", account_users_path %>
      </li>

      <li class="SideNavigation__item ">
        <%= link_to "プロフィール", profile_users_path %>
      </li>
    </ul>

    <section class="AccountInformation">
      <ul class="TabNavigation">
        <li class="TabNavigation__item active">
          <%= link_to "アカウント", account_users_path %>
        </li>

        <li class="TabNavigation__item ">
          <%= link_to "プロフィール", profile_users_path %>
        </li>
      </ul>

      <div class="AccountInformation__header">
        <h3>アカウント</h3>
      </div>


      <%= form_for(resource, as: resource_name, url: profile_users_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="mb-4 AccountInformation__input-group">
          <%= f.label :email, "メールアドレス", class: "AccountInformation__label" %>

          <div class="AccountInformation__input-wrapper">
            <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレスを入力", class: "form-control AccountInformation__input " %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-4 AccountInformation__input-group">
          <%= f.label :password, "変更後パスワード", class: "AccountInformation__label" %>
          <span class="AccountInformation__label--caption">※変更する場合のみ</span>

          <div class="AccountInformation__input-wrapper">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "変更後パスワードを入力", class: "form-control AccountInformation__input" %>
          </div>
        </div>

        <div class="mb-4 AccountInformation__input-group">
          <%= f.label :password_confirmation, "確認用パスワード", class: "AccountInformation__label" %>
          <span class="AccountInformation__label--caption">※変更する場合のみ</span>

          <div class="AccountInformation__input-wrapper">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "変更後パスワードを入力", class: "form-control AccountInformation__input" %>
          </div>
        </div>

        <div class="mb-4 AccountInformation__input-group">
          <%= f.label :current_password, "現在のパスワード", class: "AccountInformation__label" %>

          <div class="AccountInformation__input-wrapper">
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワードを入力", class: "form-control AccountInformation__input" %>
          </div>
        </div>

        <div class="AccountInformation__buttons">
          <%= link_to "キャンセル", :back, class: "btn AccountInformation__button AccountInformation__button--secondary" %>
          <%= f.submit "保存", class: "btn AccountInformation__button AccountInformation__button--primary" %>
        </div>
      <% end %>
    </section>
  </div>
</section>
