<h1>アカウント情報編集</h1>

<%= form_for current_user, url: user_path(current_user), method: :patch do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password, "新しいパスワード" %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "新しいパスワード（確認）" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "更新" %>
<% end %>
