<section class="container UserSection">
  <h2>設定</h2>

  <div class="UserContainer">
    <ul class="SideNavigation">
      <li class="SideNavigation__item ">
        <%= link_to "アカウント", account_users_path %>
      </li>

      <li class="SideNavigation__item active">
        <%= link_to "プロフィール", profile_users_path %>
      </li>
    </ul>

    <div class="AccountInformation">
      <ul class="TabNavigation">
        <li class="TabNavigation__item ">
          <%= link_to "アカウント", account_users_path %>
        </li>

        <li class="TabNavigation__item active">
          <%= link_to "プロフィール", profile_users_path %>
        </li>
      </ul>

      <div class="AccountInformation__header">
        <h3>アカウント</h3>
        <%= link_to "編集", profile_edit_users_path, class: "AccountInformation__link" %>
      </div>


      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="image">アイコン画像</label>

        <p class="AccountInformation__value AccountInformation__value--image">
          <!-- <img alt="アイコン画像" src="/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png"> -->
        </p>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="name">名前</label>

        <p class="AccountInformation__value"><%= @user.name %></p>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="introduction">自己紹介</label>

        <p AccountInformation__value><%= @user.bio %></p>
      </div>
    </div>
  </div>
</section>


