<nav class="navbar sticky-bottom shadow-sm Navbar Navbar--primary">
  <div class="container-fluid">
    <div>
      <%= link_to "ROOM SHARE", root_path, class: "Navbar__logo Navbar__logo--primary" %>
    </div>

    <% if user_signed_in? %>
      <div class="dropdown">
        <!-- プロフィールアイコン＋ユーザーネーム -->
        <div class="d-flex align-items-center NavProfile show" id="dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.profile_image.attached? %>
            <%= image_tag current_user.profile_image, class: "NavProfile__avatar" %>
          <% else %>
            <%= image_tag "default/default-avatar.png", class: "NavProfile__avatar" %>
          <% end %>


          <span class="nav-item d-sm-inline-block d-none NavProfile__name NavProfile__name--primary">
            <%= current_user.name %>
          </span>
          <span class="bi bi-chevron-down NavProfile__icon"></span>
        </div>

        <!-- ドロップダウンメニュー -->
        <ul class="dropdown-menu dropdown-menu-end DropdownMenu" aria-labelledby="dropdown-button" data-bs-popper="none">
          <li class="dropdown-item DropdownMenu__item">
            <%= link_to "新規施設登録", new_room_path %>
          </li>
          <hr class="DropdownMenu__hr">
          <li class="dropdown-item DropdownMenu__item">
            <%= link_to "予約済み一覧", reservations_path %>
          </li>
          <li class="dropdown-item DropdownMenu__item DropdownMenu__item--middle">
            <%= link_to "登録済み一覧", own_rooms_path %>
          </li>
          <li class="dropdown-item DropdownMenu__item">
            <%= link_to "アカウント設定", account_users_path(current_user) %>
          </li>
          <hr class="DropdownMenu__hr">
          <li class="dropdown-item DropdownMenu__item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    <% else %>
      <ul class="navbar-nav flex-row align-items-center NavList">
        <li class="nav-item NavItem">
          <%= link_to "ログイン", new_user_session_path, class: "NavItem__link  NavItem__login--primary" %>
        </li>
        <li class="nav-item NavItem">
          <%= link_to "新規登録", new_user_registration_path, class: "NavItem__link  NavItem__register--primary" %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>

