<div class="header__inner">
  <div class="header__logo">
    <%= link_to "ROOM SHARE", root_path, class: "header__logo-link" %>
  </div>

  <nav class="header__nav">
    <% if user_signed_in? %>
    <div class="header__user js-header-dropdown">
      <!-- プロフィール画像 -->
      
      <!-- ユーザー名 + ドロップダウンアイコン -->
      <div class="header__user-info">
        <span class="header__user-name"><%= current_user.name %> 様</span>
        <span class="header__dropdown-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill="currentColor"
              d="M10.964 5.972 8.177 8.759a.25.25 0 0 1-.354 0L5.036 5.972a.75.75 0 1 0-1.06 1.06L6.762 9.82a1.75 1.75 0 0 0 2.475 0l2.787-2.788a.75.75 0 1 0-1.06-1.06"
            ></path>
          </svg>
        </span>
      </div>

      <!-- ドロップダウンメニュー -->
      <div class="header__dropdown">
        <ul>
          <li><%= link_to "アカウント設定", edit_user_path(current_user) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <% else %>
    <div class="header__auth">
      <%= link_to "ログイン", new_user_session_path, class: "header__login" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header__signup" %>
    </div>
    <% end %>
  </nav>
</div>
