<nav class="navbar Navbar shadow-sm">
  <div class="container">
    <div>
      <%= link_to "ROOM SHARE", root_path, class: "Navbar__logo" %>
    </div>

    <% if user_signed_in? %>
    <div class="dropdown">
      <!-- プロフィールアイコン＋ユーザーネーム -->
      <div class="d-flex align-items-center NavProfile" id="dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="NavProfile__avatar" alt="" src="/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png">
        <span class="nav-item d-sm-inline-block d-none NavProfile__name">
          <%= current_user.name %>
        </span>
        <span class="bi bi-chevron-down NavProfile__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill="currentColor"
              d="M10.964 5.972 8.177 8.759a.25.25 0 0 1-.354 0L5.036 5.972a.75.75 0 1 0-1.06 1.06L6.762 9.82a1.75 1.75 0 0 0 2.475 0l2.787-2.788a.75.75 0 1 0-1.06-1.06"
            ></path>
          </svg>
        </span>
      </div>

      <!-- ドロップダウンメニュー -->
      <ul class="dropdown-menu DropdownMenu" aria-labelledby="dropdown-button">
        <li class="DropdownMenu__item">
          <%= link_to "アカウント設定", edit_user_path(current_user) %>
        </li>
        <hr class="DropdownMenu__hr">
        <li class="DropdownMenu__item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>

    <% else %>
    <ul class="navbar-nav flex-row align-items-center">
      <li class="nav-item NavItem">
        <%= link_to "ログイン", new_user_session_path, class: "fw-bold NavItem__link  NavItem__link--login" %>
      </li>
      <li class="nav-item NavItem">
        <%= link_to "新規登録", new_user_registration_path, class: "btn fw-bold NavItem__link  NavItem__link--register" %>
      </li>
    </ul>
    <% end %>
  </div>
</nav>
