<div class="form">
  <h2 class="form__title">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form__group">
      <%= f.label :email, "メールアドレス", class: "form__label" %>
      <%= f.email_field :email, autofocus: true, class: "form__input" %>
    </div>

    <div class="form__group">
      <%= f.label :password, "パスワード", class: "form__label" %>
      <%= f.password_field :password, class: "form__input" %>
    </div>

    <%= f.submit "ログイン", class: "form__submit" %>
  <% end %>

  <%= link_to "新規登録はこちら", new_user_registration_path, class: "form__link" %>
</div>

