<!-- 検索バー -->
<%= render "shared/search" %>

<div class="container RoomsContainer">
  <p class="RoomsContainer__result">
    <%= pluralize(@rooms.count, "件の施設") %>が見つかりました
  </p>

  <% if @rooms.present? %>
    <% @rooms.each do |room| %>
      <ul class="RoomList">
        <li class="Room">
          <% if room.image.attached? %>
            <%= image_tag room.image, class: "Room__image" %>
          <% else %>
            <!-- デフォルト画像 -->
            <%= image_tag "/default-image.png", class: "Room__image" %>
          <% end %>

          <div class="RoomBodyWrapper">
            <p class="Room__name"><%= room.name %></p>
            <p class="Room__address"><%= room.address %></p>
            <p class="Room__content"><%= room.description %></p>
            <div class="RoomFooter">
              <p class="Room__price">¥<%= number_with_delimiter(room.price) %>/泊</p>
              <a class="Room__link" href="https://rails-02-sample.herokuapp.com/rooms/364">詳細はこちら</a>
            </div>
          </div>
        </li>
      </ul>
    <% end %>
  <% else %>
    <div class="">
      <p>現在、施設が登録されていません。</p>
    </div>
  <% end %>

