<div class="FormWrapper">
  <section class="FormContainer">
    <h2>新規登録</h2>

    <%= form_with model: @room, local: true, class: "Form RoomsForm" do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="RoomsForm__input-group">
        <%= f.label :name, "施設名", class: "form-label RoomsForm__label Form__label--required" %>

        <div class="RoomsForm__input">
          <%= f.text_field :name, placeholder: "ルーム名を入力", class:"form-control" %>
        </div>
      </div>

      <div class="RoomsForm__input-group">
        <%= f.label :description, "施設詳細", class: "form-label RoomsForm__label Form__label--required" %>

        <div class="RoomsForm__input">
          <%= f.text_area :description, placeholder: "施設詳細を入力", class:"form-control" %>
        </div>
      </div>

      <div class="RoomsForm__input-group">
        <%= f.label :price, "料金", class: "form-label RoomsForm__label Form__label--required" %>

        <div class="RoomsForm__input">
          <%= f.text_field :price, min: 1, placeholder: "一日あたりの料金を入力", class:"form-control" %>
        </div>
      </div>

      <div class="RoomsForm__input-group">
        <%= f.label :address, "住所", class: "form-label RoomsForm__label Form__label--required" %>

        <div class="RoomsForm__input">
          <%= f.text_field :address, placeholder: "住所を入力", class:"form-control" %>
        </div>
      </div>

      <div class="RoomsForm__input-group FileUploadArea">
        <%= f.label :image, "施設画像", class: "RoomsForm__label" %>

        <p class=" RoomsForm__input FileUploadArea__input-group">
          <%= f.file_field :image, class: "FileUploadArea__label" %>
          <span>画像アップロード</span>
        </p>
      </div>

      <%= f.submit "保存", class: "btn RoomsForm__button RoomsForm__button--submit" %>
    <% end %>
    <%= link_to "キャンセル", :back, class: "btn RoomsForm__button RoomsForm__button--cancel" %>
  </section>
</div>