<!DOCTYPE html>
<html>
  <head>
    <title>宿泊予約アプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- スナックバー -->
    <% if flash[:notice] %>
    <div class="SnackBar SnackBar--notice"><%= flash[:notice] %></div>
    <% end %>

    <header class="Header sticky-top">
      <% if content_for?(:header) %>
        <%= yield :header %>
      <% else %>
        <%= render "shared/header" %>
      <% end %>
    </header>

    <main class="main">
      <%= yield %>
    </main>

    <footer class="Footer">
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
